/* Small screens mods */

@media (max-width: 768px) {
  .menu {
    top: 50px;
    left: 0;
  }

  .menu .icon {
    display: block;
    font-size: 3em;
    right: 0px;
    top: 0px;
  }

  .menu .icon i {
    padding: 10px;
  }

  .menu .icon i:hover,
  .menu .icon i:checked ~ .menu .icon i {
    background-color: rgba(100, 100, 100, 0.3);
    cursor: pointer;
  }

  .menu #links {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 350px;
    left: 0px;
  }

  .menu #links a {
    display: block;
    width: 100%;
  }

  .menu .icon i:not(:checked) ~ .menu #links {
    height: 0px;
  }

  .menu .icon i:checked ~ * .menu #links {
    height: calc(300px - 50px);
    overflow-y: auto;
  }

  #third article {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .video {
    padding-bottom: 40%;
  }
}
